<section class="container-fluid my-4">
  <div class="instructions-page">
    <h2 class="mb-3">{{ 'teacher_instructions.title' | translate }}</h2>
    <p class="mb-4">{{ 'teacher_instructions.description' | translate }}</p>

    <div class="video-wrapper mb-4">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/AC59rPev79o"
        title="Halqa Teacher Instructions"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <p class="mb-0">
      {{ 'teacher_instructions.contact' | translate }}
      <a href="mailto:info@halqa.online">info&#64;halqa.online</a>
    </p>
  </div>
</section>
