$primary-color: #016836;
$secondary-green: #cce1d7;
$secondary-color: #effff4;
$white-color: #fff;
$text-color: #8692a6;
$border-color: #e1e5e9;
$error-color: #dc3545;
$success-color: $primary-color;

.custom-marginTop {
  margin-top: 12rem;
}
.Teacher-custom-marginTop {
  margin-top: 5rem;
}
